* {
  margin: 0;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* ********* header******** */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.logo img {
  width: 120px;
  padding-left: 15px;
}

.nav-items ul {
  display: flex;
  list-style-type: none;
}

.nav-items ul li a {
  margin-right: 70px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #084d26;
}

.nav-items ul li a:hover {
  background-color: #084d26;
  color: white;
  border-radius: 7px;
  padding: 7px;
}

/* ********Body******** */
.body {
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
}

.search-bar input {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  margin-right: 2px;
  width: 400px;
  height: 30px;
  text-align: center;
}
.search-bar button {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  margin-right: 2px;
  color: rgba(0, 0, 0, 0.5);
}

.search-bar button:hover {
  border: 2px solid rgba(0, 0, 0, 0.7);
  color: black;
}

.plant-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.plant-card {
  margin: 20px 20px;
  border-radius: 20px;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.plant-card-info {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 20px 10px 10px 10px;
}

.plant-card-info h2,
.plant-card-info p {
  padding: 5px 0px;
}

.plant-card-info p {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plant-card-info p a {
  margin-left: 25px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #084d26;
  color: white;
  background-color: #084d26;
  padding: 5px;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.plant-card-info p a:hover {
  background-color: white;
  border: 1px solid white;
  font-weight: 800;
  color: #084d26;
}

.plant-img {
  width: 230px;
  height: 200px;
  border-radius: 17px;
  box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.5);
}

.plant-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.plant-info-img {
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.plant-info-container {
  margin: 20px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 300px;
}
.plant-info-container h1,
.plant-info-container p,
.plant-info-container h2 {
  margin: 10px 0;
}

/* shimmer */

.shimmer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.shimmer-img {
  background-color: #f0f0f0;
  width: 300px;
  height: 280px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.shimmer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 100px;
  padding: 0 300px;
}

.shimmer-container-internal {
  display: flex;
  justify-content: space-between;
}

.shimmer-container .h1 {
  border-radius: 20px;
  margin: 10px 30px 0px 0px;
  width: 120px;
  height: 40px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.shimmer-container .h2 {
  border-radius: 20px;
  margin: 10px 30px;
  width: 120px;
  height: 40px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.shimmer-container .p {
  border-radius: 20px;
  margin: 10px 20px 0px 0px;
  width: 320px;
  height: 80px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

/* footer */

.footer {
  background-color: #084d26;
  color: white;
  padding: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  text-align: center;
  margin: 10px 0;
  font-style: italic;
  font-weight: 700;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.sub-links a {
  text-decoration: none;
  margin: 0px 20px 10px 20px;
  color: white;
  font-size: 12px;
}

.socials a i {
  margin: 20px 25px;
  color: white;
  font-size: 18px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid white;
}

.copyright p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 7px;
}
